*                       @subham59036

/backend/               @subham59036

/frontend/               @subham59036

/docker-compose.yml      @subham59036
/docker/                 @subham59036
/.github/                @subham59036

/backend/src/main/resources/db/migration/   @subham59036